@import "./variables.scss";

hgroup {
	* {
		font-size: inherit;
	}
}
h1 {
	font-family: "Martian Mono", monospace;
	font-size: map-get($space, "2");
	font-weight: 700;
}
h2 {
	font-family: "Martian Mono", monospace;
	font-size: map-get($space, "1");
	font-weight: 500;
	letter-spacing: -1px;
}
