@import "./variables.scss";
@import "./button.scss";
@import "./text.scss";
@import "./input.scss";

@import "./view.scss";
@import "./topbar.scss";

@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
	width: auto;
	height: auto;
	padding: 0;

	margin: 0;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	z-index: 0;

	color: inherit;

	text-decoration: none;

	border-style: none;
	border-color: transparent;
	border-width: 0;
}
link,
script,
style,
title,
head,
meta {
	display: none;
}
html {
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	justify-content: flex-start;
	font-family: "Noto Sans", sans-serif;
	body {
		height: 100%;
		width: 100%;

		display: grid;
		grid-template-rows: auto 1fr auto;
		grid-template-columns: 1fr;
		grid-template-areas:
			"topbar"
			"view"
			"bottombar";
		justify-content: flex-start;
		align-items: center;
	}
}
